body{
    margin: 0;
}
.App{
    height: 100vh;
}
main{
    height: 90vh;
    padding-top: 10vh;
    margin: 0 10vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main-text-input{
    background: rgba(229, 228, 228, 0.85);
    opacity: 0.5;
    border-radius: 50px;
    width: 90%;
    height: 50px;
    font-size: 2rem;
    box-shadow: 0px 6px 20px 0px #8d8d8d;

}
.input-results{
    background: linear-gradient(120deg, rgba(8, 227, 255, 0.162) 13.4%, rgba(234, 247, 87, 0.6) 86.6%);
    border-radius: 60px;
    width: 90%;
    height: 60%;
    box-shadow: 0px 6px 20px 0px #8d8d8d;
}
.input-innerResults{
    height: 80%;
    overflow: auto;
}

.input-buttons{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.input-buttons button,
.goBack-btn{
    background: linear-gradient(120deg, rgba(245, 237, 71, 0.5) 13.4%, rgba(128, 245, 232, 0.5) 86.6%);
    opacity: 0.5;
    border-radius: 50px;
    min-height: 50px;
    width: 45%;
    max-width: 300px;
    padding: 0 10px;
    box-shadow: 0px 6px 20px 0px #8d8d8d;
    font-size: 1.3rem;
    font-weight: bold;
}
.goBack-btn{
    min-width: 20%;
}
.redditIcon-main{
    position: fixed;
    width: 15vw;
    left: 20vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 13px;

}
.twitterIcon-main{
    position: fixed;
    width: 15vw;
    right: 20vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-right: 13px;
}


.scrapeTwitter,
.scrapeReddit{
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.errorMsg{
    color: red;
}
.button-disabled{
    pointer-events: none;
    background: #acacac !important;
}
.input-results ul{
    padding: 0 10%;
    margin: 0;
    height: 50px;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 2px solid black;
}
.reddit-ul{
    border-bottom: 1px solid rgb(96, 96, 96) !important;
}

@media (max-width: 750px){

    main{
        margin: 0;
        width: 100vw;
    }
    .name{
        font-size: 3rem;
        grid-column: 2/6 !important;
    }
}
@media (min-width: 1400px){
    .redditIcon-main,
    .twitterIcon-main{
        width: 10vw !important;
    }
}